[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
networkx = "*"
scipy = "*"
jupyterlab = "*"
#casadi = "*"
geopandas = "*"
fiona = "*"
descartes = "*"

[dev-packages]

[requires]
python_version = "3.7"
